.navcon {
    height: 62px;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.tlogo {
    width: auto;
    height: 31px;
}

.blogo {
    width: auto;
    height: 43px;
}

.report {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.report .btn {
    display: flex;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: white;
    width: fit-content;
    height: 42px;
    align-items: center;
    padding: 1rem .5rem;
    cursor: pointer;
    
}

.report img {
    height: 14px
}

.report .-text {
    font-weight: 400;
    font-size: 14px;
    margin-right: .5rem;
}

.report .-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

